<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TamagotchiFit</title>
    <link rel="stylesheet" href="static/css/style_welcome_page.css">
    <!-- шрифт Press Start 2P -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>

  <div class="wrapper">
    <div class="container">

      <h1>TamagotchiFit</h1>
      <p class="subtitle">
        Grow your virtual companion through a healthy lifestyle!
      </p>

      <div class="cards">
        <div class="card">
          <img src="../static/images/cosmetics/cat_health.png" alt="Health cat" class = 'cat_image'>
          <h3>Health</h3>
          <p>Track steps, heart rate and progress</p>
        </div>

        <div class="card">
          <img src="../static/images/cosmetics/cat_exercise.png" alt="Exercise cat" class = 'cat_image'>
          <h3>Exercise</h3>
          <p>Train for all muscle groups</p>
        </div>

        <div class="card">
          <img src="../static/images/cosmetics/cat_recipes.png" alt="Recipes cat" class = 'cat_image'>
          <h3>Recipes</h3>
          <p>Healthy foods for energy</p>
        </div>
      </div>

      <button type = 'submit' onclick="window.location.href='/register'">START</button>

    </div>
  </div>

</body>
</html>
